@import "tailwindcss";

@theme {
  --color-primary: #0D1117;    /* Dark background */
  --color-secondary: #1F2937;
  --color-accent: #10B981;     /* Neon green */
  --color-text-light: #E5E7EB;
  --color-text-dark: #111827;

  --font-family-sans: Inter, sans-serif;
}

:root {
  --color-background: #0D1117;
  --color-foreground: #E5E7EB;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #ffffff;
    --color-foreground: #171717;
  }
}

html {
  color-scheme: dark;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans);
}